*.b0*
*.b1*
*.bak*
*.class
*.cover
*.ctxt
*.ear
*.egg
*.egg-info/
*.env
*.jar
*.log
*.manifest
*.mo
*.nar
*.pot
*.py,cover
*.py[cod]
*.rar
*.sage.py
*.so
*.spec
*.tar.gz
*.tmp
*.war
*.zip
.Python
.cache
.coverage
.coverage.*
.dmypy.json
.eggs/
.env
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.mtj.tmp/
.mypy_cache/
.nox/
.pdm.toml
.pybuilder/
.pyre/
.pytest_cache/
.python-version
.pytype/
.ropeproject
.scrapy
.secret
.spyderproject
.spyproject
.tox/
.venv
.webassets-cache
/site
ENV/
MANIFEST
Pipfile.lock
__pycache__/
__pypackages__/
build/
celerybeat-schedule
celerybeat.pid
cover/
coverage.xml
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
hs_err_pid*
htmlcov/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
nosetests.xml
parts/
pdm.lock
pip-delete-this-directory.txt
pip-log.txt
poetry.lock
profile_default/
replay_pid*
sdist/
share/python-wheels/
target/
tmp*
var/
venv.bak/
venv/
wheels/
[mods]/*
